.DS_Store
*.o
*Cint.h
*Cint.cxx
*Cint.cc
.depend
*.rootmap
*.so
*.dylib
*.root
*.bin
*.dat
*.info
*~
*.pcm
*.swp
*Dict.h
*Dict.cxx
*.png
example.py
example_anaunit.py
example_ertool.py
nnbar/genie_study

